/* You can add global styles to this file, and also import other style files */

body {
  background-color: #976363;
  padding: 2rem;
  color: #cccccc;
  margin-top: 14rem;
}

hr{

  border-top: 1px solid rgb(202, 186, 186)
}
